/*
mainaccent #73f
darker #0a090b
background #0f0e11
accent #1e1d20
accent1 #232225
accent2 #353338
accent3 #444148
light-text #f4f2f7
grey-text #8c8c8c
*/

:root,
html,
body,
main {
	background: #0f0e11;
	color: #f6f4f3;
}

.light-text {
	color: #f4f2f7;
}

.grey-text {
	color: #8c8c8c;
}

.accent-text,
a {
	color: #8b52ff;
}

a {
	transition: 0.2s color;
}

a:hover:not(.btn):not(.light-text) {
	color: #73f;
}

a:hover.light-text {
	color: #8c8b8a;
}

.bg-background {
	background: #1e1d20;
}
.bg-darker {
	background: #0a090b;
}
.bg-a {
	background: #1e1d20;
}
.bg-a1 {
	background: #232225;
}
.bg-a2 {
	background: #353338;
}
.bg-a3 {
	background: #444148;
}

a:hover p {
	color: #8c8b8a;
}

input,
.btn {
	border-radius: 0.375rem;
}

.is-invalid {
	border-color: #dd3c4c !important;
}

.text-red-500 {
	color: #ef4444;
}

input:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

input:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 3px #5c29c2;
}

.btn-primary {
	background: #6c2bee;
}
.btn-primary:hover:not(:disabled),
.btn-primary:focus:not(:active):not(:disabled) {
	background: #73f;
}
.btn-primary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-primary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-secondary {
	background: #1e0d3f;
	border-color: #73f;
}
.btn-secondary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-secondary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-tertiary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-tertiary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-quatenary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-quatenary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-red-secondary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-red-secondary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-red-tertiary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-red-tertiary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-success:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-success:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-danger:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-danger:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-warning:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-warning:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-info:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-info:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-light:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-light:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-dark:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2;
}
.btn-dark:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-primary:disabled,
.btn-secondary:disabled,
.btn-tertiary:disabled,
.btn-quatenary:disabled,
.btn-red-secondary:disabled,
.btn-red-tertiary:disabled,
.btn-success:disabled,
.btn-danger:disabled,
.btn-warning:disabled,
.btn-info:disabled,
.btn-light:disabled,
.btn-dark:disabled {
	opacity: 0.5;
}

.btn-primary,
.btn-secondary,
.btn-red-secondary,
.btn-success,
.btn-danger,
.btn-dark {
	color: #fff;
}

ul {
	margin: 0;
	padding: 0;
}

.is-invalid {
	background-position: 99% 0.5rem;
}

input,
textarea,
select {
	background-color: #1e1d20;
	color: #f4f2f7;
	border: 1px solid #353338;
	appearance: none;
	outline: transparent;
	border-radius: 0.375rem;
	font-size: 0.875rem;
}

.text-red-5 {
	color: #ef4444;
}

/* daisyui */

.dropdown-content {
	/* @apply transition transition-all duration-300 ease-in-out; */
	transition: all 0.3s ease-in-out;
	z-index: 1000;
	padding-left: 0.5rem;
	max-height: 25rem !important;
	overflow-y: auto;
	right: 0;
	filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04))
		drop-shadow(0 0px 3px rgba(255, 255, 255, 0.1));
}

.dropdown-content ul {
	list-style: none;
	width: 10rem;
	background: var(--darker);
	margin: 0;
}

.dropdown-content a,
.dropdown-content button {
	transition: background 0.2s !important;
	width: 100%;
	border: none;
	text-align: start !important;
}

.dropdown-content a:hover,
.dropdown-content button:hover,
.dropdown-content a:focus,
.dropdown-content button:focus,
.dropdown-content a[data-highlighted],
.dropdown-content button[data-highlighted] {
	color: var(--grey-text) !important;
	background: rgba(119, 51, 255, 0.5);
}

.dropdown-content a:active,
.dropdown-content button:active {
	background: rgba(102, 26, 255, 0.4);
}

.dropdown-content li {
	padding: 0px;
	transition: background 0.2s;
}

.dropdown-ellipsis {
	cursor: pointer;
	padding: 0 0.5rem;
	transition: opacity 0.2s;
	opacity: 0.5;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown > *:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.dropdown .dropdown-content {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.dropdown:focus-within .dropdown-content,
.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-ellipsis {
	visibility: visible;
	opacity: 1;
}

&:is(details) summary::-webkit-details-marker {
	display: none;
}
