/*
mainaccent #73f
darker #0a090b
background #0f0e11
accent #1e1d20
accent1 #232225
accent2 #353338
accent3 #444148
light-text #f4f2f7
grey-text #8c8c8c
*/

:root,
html,
body,
main {
	background: hsl(260, 10%, 6%);
	color: hsl(264, 24%, 96%);
}

.light-text {
	color: hsl(264, 24%, 96%);
}

.grey-text {
	color: hsl(0, 0%, 55%);
}

.accent-text,
a {
	color: hsl(260, 100%, 66%);
}

a {
	transition: 0.2s color;
}

a:hover:not(.btn):not(.light-text) {
	color: hsl(260, 100%, 60%);
}

a:hover.light-text {
	color: hsl(30, 1%, 55%);
}

.bg-background {
	background: hsl(260, 5%, 12%);
}
.bg-darker {
	background: hsl(270, 10%, 4%);
}
.bg-a {
	background: hsl(260, 5%, 12%);
}
.bg-a1 {
	background: hsl(260, 4%, 14%);
}
.bg-a2 {
	background: hsl(264, 5%, 21%);
}
.bg-a3 {
	background: hsl(266, 5%, 27%);
}

a:hover p {
	color: hsl(30, 1%, 55%);
}

input,
.btn {
	border-radius: 0.375rem;
}

.is-invalid {
	border-color: hsl(354, 70%, 55%) !important;
}

.text-red-500 {
	color: hsl(0, 84%, 60%);
}

input:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsl(260, 65%, 46%) !important;
}

input:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 3px hsl(260, 65%, 46%);
}

.btn-primary {
	background: hsl(260, 85%, 55%);
}
.btn-primary:hover:not(:disabled),
.btn-primary:focus:not(:active):not(:disabled) {
	background: hsl(260, 100%, 60%);
}
.btn-primary:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsl(260, 65%, 46%);
}
.btn-primary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 4px hsl(260, 65%, 46%);
}

.btn-secondary {
	background: hsl(260, 66%, 15%);
	border-color: hsl(260, 100%, 60%);
}
.btn-secondary:hover:not(:disabled),
.btn-secondary:focus:not(:active):not(:disabled) {
	background: hsl(260, 65%, 20%);
	border-color: hsl(260, 100%, 60%);
}
.btn-secondary:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsl(260, 75%, 55%);
}
.btn-secondary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 4px hsl(260, 75%, 55%);
}

.btn-tertiary {
	background: hsl(0, 0%, 12%);
	color: hsl(260, 100%, 66%);
}
.btn-tertiary:hover:not(:disabled),
.btn-tertiary:focus:not(:active):not(:disabled) {
	background: hsl(260, 55%, 20%);
	color: white;
}
.btn-tertiary:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsl(260, 75%, 55%);
}
.btn-tertiary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 4px hsl(260, 75%, 55%);
}

.btn-quatenary {
	color: hsl(260, 100%, 66%);
}
.btn-quatenary:hover:not(:disabled),
.btn-quatenary:focus:not(:active):not(:disabled) {
	background: hsl(0, 0%, 10%);
	color: hsl(260, 100%, 70%);
}
.btn-quatenary:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsl(260, 55%, 35%);
}
.btn-quatenary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 4px hsl(260, 55%, 35%);
}

.btn-red-secondary {
	background: rgba(69, 10, 10, 0.6);
	border-color: rgba(185, 28, 28, 0.8);
}
.btn-red-secondary:hover:not(:disabled),
.btn-red-secondary:focus:not(:active):not(:disabled) {
	background: hsl(0, 75%, 15%);
	border-color: hsl(0, 72%, 51%);
}
.btn-red-secondary:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsla(0, 74%, 42%, 0.5);
}
.btn-red-secondary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 4px rgba(185, 28, 28, 0.5);
}

.btn-red-tertiary {
	background: hsl(0, 0%, 12%);
	color: hsl(0, 84%, 60%);
}
.btn-red-tertiary:hover:not(:disabled),
.btn-red-tertiary:focus:not(:active):not(:disabled) {
	background: hsla(0, 75%, 15%, 0.8);
	color: white;
}
.btn-red-tertiary:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsla(0, 70%, 35%, 0.5);
}
.btn-red-tertiary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 4px hsla(0, 70%, 35%, 0.5);
}

.btn-success {
	background: hsl(161, 94%, 30%);
}
.btn-success:hover:not(:disabled),
.btn-success:focus:not(:active):not(:disabled) {
	background: hsl(163, 94%, 24%);
}
.btn-success:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsla(163, 94%, 24%, 0.5);
}
.btn-success:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 4px hsla(163, 94%, 24%, 0.5);
}

.btn-danger {
	background: hsl(0, 84%, 60%);
}
.btn-danger:hover:not(:disabled),
.btn-danger:focus:not(:active):not(:disabled) {
	background: hsl(0, 72%, 51%);
}
.btn-danger:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsla(0, 74%, 42%, 0.5);
}
.btn-danger:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 4px hsla(0, 74%, 42%, 0.5);
}

.btn-dark {
	background: hsl(0, 0%, 15%);
}
.btn-dark:hover:not(:disabled),
.btn-dark:focus:not(:active):not(:disabled) {
	background: hsl(0, 0%, 25%);
}
.btn-dark:active:not(:disabled) {
	box-shadow: 0 0 0 2px hsla(0, 0%, 32%, 0.5);
}
.btn-dark:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px hsl(260, 10%, 6%),
		0 0 0 4px hsla(0, 0%, 32%, 0.5);
}

.btn-primary:disabled,
.btn-secondary:disabled,
.btn-tertiary:disabled,
.btn-quatenary:disabled,
.btn-red-secondary:disabled,
.btn-red-tertiary:disabled,
.btn-success:disabled,
.btn-danger:disabled,
.btn-dark:disabled {
	opacity: 0.5;
	transition:
		all 0.3s,
		box-shadow 0.15s;
}

.btn-primary,
.btn-secondary,
.btn-red-secondary,
.btn-success,
.btn-danger,
.btn-dark {
	color: #fff;
}

ul {
	margin: 0;
	padding: 0;
}

.is-invalid {
	background-position: 99% 0.5rem;
}

input,
textarea,
select {
	background-color: #1e1d20;
	color: #f4f2f7;
	border: 1px solid #353338;
	appearance: none;
	outline: transparent;
	border-radius: 0.375rem;
	font-size: 0.875rem;
}

.text-red-5 {
	color: #ef4444;
}

/* daisyui */

.dropdown-content {
	/* @apply transition transition-all duration-300 ease-in-out; */
	transition: all 0.3s ease-in-out;
	z-index: 1000;
	padding-left: 0.5rem;
	max-height: 25rem !important;
	overflow-y: auto;
	right: 0;
	filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04))
		drop-shadow(0 0px 3px rgba(255, 255, 255, 0.1));
}

.dropdown-content ul {
	list-style: none;
	width: 10rem;
	background: var(--darker);
	margin: 0;
}

.dropdown-content a,
.dropdown-content button {
	transition: background 0.2s !important;
	width: 100%;
	border: none;
	text-align: start !important;
}

.dropdown-content a:hover,
.dropdown-content button:hover,
.dropdown-content a:focus,
.dropdown-content button:focus,
.dropdown-content a[data-highlighted],
.dropdown-content button[data-highlighted] {
	color: var(--grey-text) !important;
	background: rgba(119, 51, 255, 0.5);
}

.dropdown-content a:active,
.dropdown-content button:active {
	background: rgba(102, 26, 255, 0.4);
}

.dropdown-content li {
	padding: 0px;
	transition: background 0.2s;
}

.dropdown-ellipsis {
	cursor: pointer;
	padding: 0 0.5rem;
	transition: opacity 0.2s;
	opacity: 0.5;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown > *:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.dropdown .dropdown-content {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.dropdown:focus-within .dropdown-content,
.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-ellipsis {
	visibility: visible;
	opacity: 1;
}

&:is(details) summary::-webkit-details-marker {
	display: none;
}
