mercury2.com {
	rewrite /Asset /asset
	rewrite /Asset/ /asset
	rewrite /Asset/Default.ashx /asset
	rewrite /Asset/CharacterFetch.ashx /asset/characterfetch
	rewrite /Asset/BodyColors.ashx /asset/bodycolors

	# rewrite /Game/PlaceLauncher.ashx /api/games/placelauncher	
	rewrite /Game/Studio.ashx /game/studio
	# rewrite /Game/Edit.ashx /game/edit
	rewrite /Game/Visit.ashx /game/visit
	rewrite /Game/Join.ashx /game/join
	rewrite /Game/MachineConfiguration.ashx /game/machineconfiguration
	# rewrite /Game/GameServer.ashx /game/gameserver
	rewrite /Game/ClientPresence /game/clientpresence
	rewrite /Game/ServerPresence /game/serverpresence
	rewrite /Game/Host /game/host
	rewrite /Asset/GetScriptState.ashx /asset/getscriptstate
	rewrite /Game/Tools/InsertAsset.ashx /game/tools/insertasset
	rewrite /Game/Tools/ThumbnailAsset.ashx /game/tools/thumbnailasset
	rewrite /UploadMedia/PostImage.aspx /studio/uploadmedia/screenshot

	redir /download https://setup.mercury2.com/MercuryPlayerLauncher.exe

	reverse_proxy localhost:4443
}

analytics.mercury2.com {
	reverse_proxy localhost:8888
}

setup.mercury2.com, http://setup.mercury2.com {
	root * /var/www/setup

	uri path_regexp /version-(\w+)-(.*) /version-$1/$2

	file_server browse
}

api.mercury2.com, http://api.mercury2.com {
	rewrite /Setting/QuietGet/ClientSharedSettings/* /api/clientsharedsettings
	rewrite /Setting/QuietGet/ClientAppSettings/* /api/clientappsettings

	reverse_proxy localhost:4443
}

# old domain redirects

banland.xyz {
	redir https://mercury2.com{uri} permanent
}

analytics.banland.xyz {
	redir https://analytics.mercury2.com{uri} permanent
}

setup.banland.xyz {
	redir https://setup.mercury2.com{uri} permanent
}
http://setup.banland.xyz {
	redir http://setup.mercury2.com{uri} permanent
}

api.banland.xyz {
	redir https://api.mercury2.com{uri} permanent
}
http://api.banland.xyz {
	redir http://api.mercury2.com{uri} permanent
}
