.carousel
	display inline-flex
	overflow hidden
	scroll-snap-type x mandatory
	scroll-behavior smooth

	// &-vertical
	// 	flex-direction column
	// 	overflow-y scroll
	// 	scroll-snap-type y mandatory

	&-item
		box-sizing content-box
		flex none
		scroll-snap-align start

	// &-center .carousel-item
	// 	scroll-snap-align center

	// &-end .carousel-item
	// 	scroll-snap-align end
