.d-collapse
	position relative
	display grid
	visibility visible
	overflow hidden
	grid-template-rows auto 0fr
	transition grid-template-rows 0.4s

.d-collapse-title
.d-collapse > input[type=radio]
.d-collapse-content
	grid-column-start 1
	grid-row-start 1

.d-collapse > input[type=radio]
	appearance none
	opacity 0
	width 100%
	height 100%
	cursor pointer

.d-collapse-content
	grid-column-start 1
	grid-row-start 2
	visibility hidden
	min-height 0px
	transition visibility 0.4s

.d-collapse[open]
.d-collapse:focus
	grid-template-rows auto 1fr

.d-collapse:has(> input[type=radio]:checked)
	grid-template-rows auto 1fr

.d-collapse[open] .d-collapse-content
.d-collapse:focus .d-collapse-content
.d-collapse input[type=radio]:checked ~ .d-collapse-content
	visibility visible
	min-height fit-content
