.dropdown
	position relative
	display inline-block

.dropdown > *:focus
	outline 2px solid transparent
	outline-offset 2px

.dropdown .dropdown-content
	position absolute

.dropdown:is(:not(details)) .dropdown-content
	visibility hidden
	opacity 0

.dropdown-end .dropdown-content
	right 0px

// .dropdown-left .dropdown-content
// 	bottom auto
// 	top 0px
// 	right 100%

// .dropdown-right .dropdown-content
// 	left 100%
// 	bottom auto
// 	top 0px

// .dropdown-bottom .dropdown-content
// 	bottom auto
// 	top 100%

// .dropdown-top .dropdown-content
// 	top auto
// 	bottom 100%

// .dropdown-end.dropdown-right .dropdown-content
// 	bottom 0%
// 	top auto

// .dropdown-end.dropdown-left .dropdown-content
// 	bottom 0%
// 	top auto

.dropdown
	&.dropdown-open .dropdown-content
	&:not(.dropdown-hover):focus .dropdown-content
	&:focus-within .dropdown-content
	&.dropdown-hover:hover .dropdown-content
		visibility visible
		opacity 1

	&:is(details) summary::-webkit-details-marker
		display none

	// Other styles

	// details
	// 	width 10rem

.dropdown-content
	z-index 1000
	padding-left 0.5rem

	ul
		list-style none
		width 10rem
		padding-left 0
		background var(--darker)

	a
	button
		width 100%
		padding-left 0
		padding-right 3rem
		border none
		text-align start !important
		&:hover
		&:focus
			color var(--grey-text) !important
			background #7531ff7f

	li
		padding 0px
		transition background 0.2s
