.dropdown2
	position relative
	display inline-block

.dropdown2 > *:focus
	outline 2px solid transparent
	outline-offset 2px

.dropdown2 .dropdown-content
	position absolute

.dropdown2:is(:not(details)) .dropdown-content
	visibility hidden
	opacity 0

.dropdown-end .dropdown-content
	right 0px

// .dropdown-left .dropdown-content
// 	bottom auto
// 	top 0px
// 	right 100%

// .dropdown-right .dropdown-content
// 	left 100%
// 	bottom auto
// 	top 0px

// .dropdown-bottom .dropdown-content
// 	bottom auto
// 	top 100%

// .dropdown-top .dropdown-content
// 	top auto
// 	bottom 100%

// .dropdown-end.dropdown-right .dropdown-content
// 	bottom 0%
// 	top auto

// .dropdown-end.dropdown-left .dropdown-content
// 	bottom 0%
// 	top auto

.dropdown2.dropdown-open .dropdown-content
.dropdown2:not(.dropdown-hover):focus .dropdown-content
.dropdown2:focus-within .dropdown-content
	visibility visible
	opacity 1

.dropdown2.dropdown-hover:hover .dropdown-content
	visibility visible
	opacity 1

.dropdown2:is(details) summary::-webkit-details-marker
	display none

// Other styles

.dropdown2 details
	width 10rem

.dropdown-content
	z-index 1000
	padding-left 0.5rem

	ul
		list-style none
		width 10rem
		padding-left 0
		background var(--darker)

	a
	.btn
		width 100%
		padding-left 0
		padding-right 3rem

	li
		padding 0px
		&:hover
			background var(--bs-blue)
