.dropdown
	position relative
	display inline-block

.dropdown > *:focus
	outline 2px solid transparent
	outline-offset 2px

.dropdown .dropdown-content
	position absolute

.dropdown:is(:not(details)) .dropdown-content
	visibility hidden
	opacity 0

.dropdown-end .dropdown-content
	right 0px

.dropdown
	&.dropdown-open .dropdown-content
	&:not(.dropdown-hover):focus .dropdown-content
	&:focus-within .dropdown-content
	&.dropdown-hover:hover .dropdown-content
		visibility visible
		opacity 1

	&:is(details) summary::-webkit-details-marker
		display none

// Other styles

.dropdown-content
	z-index 1000
	padding-left 0.5rem

	ul
		list-style none
		width 10rem
		background var(--darker)

	a
	button
		width 100%
		border none
		text-align start !important
		&:hover
		&:focus
			color var(--grey-text) !important
			background #7531ff7f

	li
		padding 0px
		transition background 0.2s
