:root {
	--hue: 260;
	--mainaccent: hsl(var(--hue) 100 60);
	--rounding: 0.375rem;

	--darker: hsl(var(--hue) 10 4);
	--background: hsl(var(--hue) 10 6);
	--accent: hsl(var(--hue) 5 12);
	--accent1: hsl(var(--hue) 5 14);
	--accent2: hsl(var(--hue) 5 21);
	--accent3: hsl(var(--hue) 5 27);
	--light-text: hsl(var(--hue) 25 96);
	--grey-text: hsl(0 0 55);
}
