mercury2.com {
	rewrite /Asset /asset
	rewrite /Asset/ /asset
	rewrite /Asset/Default.ashx /asset

	rewrite /Game/Studio.ashx /game/studio
	rewrite /Game/Visit.ashx /game/visit
	rewrite /Game/Join.ashx /game/join
	rewrite /Game/MachineConfiguration.ashx /game/machineconfiguration
	rewrite /Game/ClientPresence /game/clientpresence
	rewrite /Game/ServerPresence /game/serverpresence
	rewrite /Game/Host /game/host
	rewrite /Asset/GetScriptState.ashx /asset/getscriptstate
	rewrite /Game/Tools/InsertAsset.ashx /game/tools/insertasset
	rewrite /Game/Tools/ThumbnailAsset.ashx /game/tools/thumbnailasset
	rewrite /UploadMedia/PostImage.aspx /studio/uploadmedia/screenshot

	rewrite /Setting/QuietGet/ClientSharedSettings/* /api/clientsharedsettings
	rewrite /Setting/QuietGet/ClientAppSettings/* /api/clientappsettings

	reverse_proxy localhost:4443
}
