h1
	font-size 3.5rem
a
	color var(--mainaccent)

.row
	height 100vh
.col
	padding 8vw
	padding-top 5vh
	padding-bottom 0

#light
	z-index 1
	background radial-gradient(#35332e7f 1px, #0000 1px), var(--background)
	background-size 2rem 2rem
	background-attachment fixed

#dark
	z-index 0
	background linear-gradient(-20deg, var(--darker) 50%, var(--mainaccent) 250%)

#login
	max-width 30rem
	form button
		background var(--mainaccent)
		border-color var(--mainaccent)

#wavep // rpcs3 momnt
	div
		z-index 1
		transition all 1s ease-in-out 0s
		div
			background url("/landing/wave.svg") repeat-x
			top -198px
			width 6144px
			height 198px
			animation 11s cubic-bezier(0.36, 0.45, 0.63, 0.53) 0s infinite normal none running waves
			transform translate3d(0px,0px,0px)

		div:nth-of-type(2)
			animation 11s cubic-bezier(0.4, 0.2, 0.2, 0.2) -0.124s infinite normal none running waves, 11s ease -1.24s infinite normal none running swell
			top -174px
