/*
	Styles that will be applied to every page.
	It's best to only put things in here that apply to many pages, so bundle size is kept down.
*/

@font-face {
	font-family: Inter;
	font-style: normal;
	font-display: swap;
	src: url(/fonts/Inter.woff2) format("woff2");
}
@font-face {
	font-family: Inter;
	font-style: italic;
	font-display: swap;
	src: url(/fonts/Inter-Italic.woff2) format("woff2");
}

@font-face {
	font-family: Azeret;
	font-style: normal;
	font-display: swap;
	src: url(/fonts/Azeret.woff2) format("woff2");
}
@font-face {
	font-family: Azeret;
	font-style: italic;
	font-display: swap;
	src: url(/fonts/Azeret-Italic.woff2) format("woff2");
}

* {
	font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
	font-feature-settings: "cv03", "cv04", "cv08", "cv09";
}

code {
	font-size: 1rem;
	font-family: Azeret, monospace;
	font-feature-settings: "ss09", "ss12", "ss15", "ss16";
	word-wrap: break-word;
	color: #d63384;
}

p {
	margin: 0;
	padding-bottom: 1rem;
}

body {
	background: var(--background);
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.5;
}

main {
	overflow: hidden;
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 550;
	line-height: 1.2;
}

h1 {
	font-weight: 300;
}

p {
	margin-top: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	color: var(--text-light);
	word-wrap: break-word;
	background-color: var(--accent);
	background-clip: border-box;
	border-radius: var(--rounding);
	/* border 1px solid var(--accent) */
}

textarea {
	resize: vertical;
	font-family: inherit;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

label {
	display: inline-block;
}

img,
svg {
	vertical-align: middle;
}

table {
	caption-side: bottom;
	border-collapse: collapse;
}

select,
input {
	font-family: inherit;
}

.light-text {
	color: var(--light-text);
}

.grey-text,
.formhelp {
	color: var(--grey-text);
}

.accent-text {
	color: hsl(var(--hue) 100 66);
}

a {
	color: hsl(var(--hue) 100 66);
	transition: 0.2s color;
}

a:hover:not(.btn):not(.light-text) {
	color: hsl(var(--hue) 100 60);
}

a:hover.light-text {
	color: var(--grey-text) !important;
}

.bg-background {
	background: var(--background) !important;
}
.bg-darker {
	background: var(--darker) !important;
}
.bg-a {
	background: var(--accent);
}
.bg-a1 {
	background: var(--accent1);
}
.bg-a2 {
	background: var(--accent2);
}
.bg-a3 {
	background: var(--accent3);
}

a.light-text,
a > p {
	transition: 0.2s color;
}

a:hover p {
	color: var(--grey-text);
}

img[src^="/api/avatar"] {
	aspect-ratio: 1; /* Force square */
}

::selection {
	background: var(--mainaccent);
}

::-webkit-scrollbar {
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
	z-index: 1;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: var(--accent);
}
::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background: var(--background);
	border: 0.15rem solid var(--accent);
	width: 0.5rem;
	&:hover {
		background: var(--accent3);
	}
	&:active {
		background: var(--accent2);
	}
}

:root {
	color: var(--light-text);
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

.btn {
	@apply transition no-underline bg-transparent;
	outline: transparent;
	border: 1px solid transparent;
	display: inline-block;
	padding: 0.7rem 1rem;
	font-size: 0.9rem;
	border-radius: var(--rounding);
	cursor: pointer;
}

.btn-sm {
	font-size: 0.8rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	font-weight: 400;
}

p,
span {
	color: var(--light-text);
}

.form-select {
	padding: 0.5rem 3rem 0.5rem 1rem;
	background-position: right 1rem center;
}

.btn-primary {
	background: hsl(var(--hue) 85 55);
	--un-ring-color: hsl(var(--hue) 75 55);
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		background: hsl(var(--hue) 100 60);
	}
}
.btn-secondary {
	background: hsl(var(--hue) 66 15);
	border-color: hsl(var(--hue) 100 60);
	--un-ring-color: hsl(var(--hue) 75 55);
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		background: hsl(var(--hue) 65 20);
		border-color: hsl(var(--hue) 100 60);
	}
}
.input-group > .btn-secondary {
	@apply border-l-0;
}
.btn-tertiary {
	background: hsl(0 0 12%);
	color: hsl(var(--hue) 100 66);
	--un-ring-color: hsl(var(--hue) 75 55);
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		background: hsl(var(--hue) 55 20);
		color: white;
	}
}
.btn-quatenary {
	color: hsl(var(--hue) 100 66);
	--un-ring-color: hsl(var(--hue) 55 35);
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		background: hsl(0 0 10);
		color: hsl(var(--hue) 100 70);
	}
	&:active:not(:disabled) {
		background: hsl(var(--hue) 66 15);
	}
}
.btn-red-secondary {
	@apply bg-red-950/60 border-red-7/80 ring-red-7/50;
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		@apply bg-red-950 border-red-6;
	}
}
.btn-red-tertiary {
	background: #1f1f1f;
	@apply text-red-5 ring-red-8/50;
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		@apply bg-red-950/80 text-white;
	}
}
.btn-success {
	@apply bg-emerald-6 ring-emerald-7/50;
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		@apply bg-emerald-7;
	}
}
.btn-danger {
	@apply bg-red-5 ring-red-7/50;
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		@apply bg-red-6;
	}
}
.btn-warning {
	@apply bg-yellow-5 ring-yellow-6/50;
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		@apply bg-yellow-4;
	}
}
.btn-info {
	@apply bg-cyan-5 ring-cyan-6/50;
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		@apply bg-cyan-4;
	}
}
.btn-dark {
	@apply bg-neutral-8 ring-neutral-6/50;
	&:hover:not(:disabled),
	&:focus:not(:active):not(:disabled) {
		@apply bg-neutral-7;
	}
}

.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-quatenary,
.btn-red-secondary,
.btn-red-tertiary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-dark {
	@apply border-1 ring-offset-neutral-9;
	transition: all 0.3s, box-shadow 0.15s;
	&:active:not(:disabled) {
		@apply ring-2;
	}
	&:focus:not(:active):not(:disabled) {
		@apply ring-1 ring-offset-2;
	}
	&:disabled {
		opacity: 0.5;
	}
}

.btn-primary,
.btn-secondary,
.btn-red-secondary,
.btn-first,
.btn-success,
.btn-danger,
.btn-dark {
	color: #fff;
}

.btn-sm {
	padding: 0.25rem 0.5rem !important;
}

/* Tables */

table {
	vertical-align: top;
	margin-bottom: 0.5rem;
	& th,
	& td {
		padding: 0.5rem;
	}
}

thead th {
	font-size: 0.875rem;
	text-transform: uppercase;
}

.table > :not(caption) > * > * {
	background-color: rgba(0, 0, 0, 0);
}

.ctnr {
	max-width: 75rem;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

ul {
	margin: 0;
}

.is-invalid {
	border-color: hsl(354 70 55) !important;
	padding-right: 2.2rem;
	background-image: url(/invalid.svg);
	background-repeat: no-repeat;
	background-position: right 0.5rem center;
	background-size: 1.2rem;
}

@keyframes checkmark {
	0% {
		background-position-y: 2px;
	}
	60% {
		background-position-y: -1px;
	}
	100% {
		background-position-y: 0;
	}
}

input,
select,
textarea,
.fakeselect,
.cm-editor {
	background-color: var(--accent);
	color: var(--light-text);
	border: 1px solid var(--accent2);
	appearance: none;
	outline: transparent;
	border-radius: var(--rounding);
	font-size: 0.875rem;
	--un-ring-color: #5c29c2;
	@apply ring-offset-neutral-9;
	@media (prefers-reduced-motion: no-preference) {
		transition: box-shadow 0.15s ease-in-out;
	}

	&:active {
		@apply ring-2;
	}
	&:focus:not(:active) {
		@apply ring-offset-1 ring-2;
	}
}

input[type="checkbox"] {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0;
	cursor: pointer;

	&:checked {
		background-image: url(/check.svg);
		animation: checkmark 0.15s ease-out;
	}

	&:indeterminate {
		background-image: url(/indeterminate.svg);
		animation: checkmark 0.15s ease-out;
	}
}

input[type="radio"] {
	width: 1rem;
	height: 1rem;
	margin: 0;
	border-radius: 50%;
	cursor: pointer;

	&:checked {
		background-image: url(/radio.svg);
	}
}

select,
.fakeselect {
	width: 100%;
	padding: 0.7rem 1rem;
	background-image: url(/select.svg);
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 1rem 0.75rem;
	cursor: pointer;
}

.fakeselect {
	text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input:not([type]),
textarea {
	display: block;
	width: 100%;
	padding: 0.7rem 1rem;
}

input[type="file"] {
	display: block;
	padding: 0;
	cursor: pointer;

	/* disable default choose file button... */
	&::-webkit-file-upload-button {
		display: none;
	}
	/* ...and make our own */
	&::before {
		content: "Choose file";
		display: inline-block;
		padding: 0.7rem 1rem;
		margin-right: 0.7rem;
		background-color: var(--background);
		border-radius: var(--rounding) 0 0 var(--rounding);
	}
}

.input-group {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	align-items: stretch;
	width: 100%;
	& button,
	& input,
	& select {
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	& > button {
		position: relative;
		z-index: 2;
	}

	& > input {
		width: 1%;
		flex: 1 1 auto;
	}
}

summary {
	cursor: pointer;
	user-select: none;
	&::before {
		display: none;
	}
}

details[open] summary {
	@apply rounded-b-0;
}

.alert {
	@apply p-4 px-6 rounded-2;
	&.alert-primary {
		background: #2c145d;
		border: 1px solid #73f;
	}
}

[popover] {
	@apply border-none p-0 transition-all duration-300 ease-in-out overflow-y-auto rounded-2 py-6;
	background: var(--darker);
	outline: transparent;
	filter: drop-shadow(0 20px 13px rgba(255, 255, 255, 0.02))
		drop-shadow(0 8px 5px rgba(255, 255, 255, 0.05));
	max-height: calc(100vh - 5rem);
	border: 1px solid var(--accent);
	@starting-style {
		opacity: 0;
		translate: 0 2rem;
	}

	&::backdrop {
		transition: all 0.3s;
		background: black;
		opacity: 0.5;
	}
}

img[src^="/icons"] {
	/* hax */
	height: calc(1rem + 2px);
	padding-bottom: 2px;
}
