@font-face {
	font-family: Icons;
	font-style: normal;
	font-display: block;
	src: url(/fonts/Icons.woff2) format("woff2");
}

fa {
	font-family: Icons, sans-serif;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-rendering: auto;
}
