:root,
html,
body,
main {
	background: #1e1d20;
	color: #f6f4f3;

	font: serif;
}

a {
	color: #8b52ff;
	transition: 0.2s color;
}

a:hover:not(.btn):not(.light-text) {
	color: #73f;
}

a:hover.light-text {
	color: #8c8b8a;
}

.light-text {
	color: #f4f2f7;
}

.grey-text {
	color: #8c8c8c;
}

.bg-darker {
	background: #0a090b;
}

input,
.btn {
	border-radius: 0.375rem
}

.is-invalid {
	border-color: #dd3c4c !important;
}

.text-red-500 {
	color: #ef4444;
}

input {
	background: #0f0e11;
	color: #f4f2f7;
	border: 1px solid #353338;
}

.btn-primary {
	background: #6c2bee;
}
.btn-secondary {
	background: #1e0d3f;
	border-color: #73f;
}

input:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

input:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 3px #5c29c2;
}

.btn-primary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-primary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-primary:disabled {
	opacity: 0.5;
}

.btn-secondary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-secondary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-secondary:disabled {
	opacity: 0.5;
}

.btn-tertiary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-tertiary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-tertiary:disabled {
	opacity: 0.5;
}

.btn-quatenary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-quatenary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-quatenary:disabled {
	opacity: 0.5;
}

.btn-red-secondary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-red-secondary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-red-secondary:disabled {
	opacity: 0.5;
}

.btn-red-tertiary:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-red-tertiary:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-red-tertiary:disabled {
	opacity: 0.5;
}

.btn-first:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-first:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-first:disabled {
	opacity: 0.5;
}

.btn-success:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-success:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-success:disabled {
	opacity: 0.5;
}

.btn-danger:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-danger:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-danger:disabled {
	opacity: 0.5;
}

.btn-warning:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-warning:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-warning:disabled {
	opacity: 0.5;
}

.btn-info:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-info:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-info:disabled {
	opacity: 0.5;
}

.btn-light:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-light:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-light:disabled {
	opacity: 0.5;
}

.btn-dark:active:not(:disabled) {
	box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-dark:focus:not(:active):not(:disabled) {
	box-shadow:
		0 0 0 2px #0f0e11,
		0 0 0 4px #5c29c2;
}

.btn-dark:disabled {
	opacity: 0.5;
}

.is-invalid {
	background-position: 99% 0.5rem;
}

.text-red-5 {
	color: #ef4444;
}

/* daisyui */

.dropdown-content {
	/* @apply transition transition-all duration-300 ease-in-out; */
	transition: all 0.3s ease-in-out;
	z-index: 1000;
	padding-left: 0.5rem;
	max-height: 25rem !important;
	overflow-y: auto;
	right: 0;
	filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04))
		drop-shadow(0 0px 3px rgba(255, 255, 255, 0.1));
}

.dropdown-content ul {
	list-style: none;
	width: 10rem;
	background: var(--darker);
	margin: 0;
}

.dropdown-content a,
.dropdown-content button {
	transition: background 0.2s !important;
	width: 100%;
	border: none;
	text-align: start !important;
}

.dropdown-content a:hover,
.dropdown-content button:hover,
.dropdown-content a:focus,
.dropdown-content button:focus,
.dropdown-content a[data-highlighted],
.dropdown-content button[data-highlighted] {
	color: var(--grey-text) !important;
	background: rgba(119, 51, 255, 0.5);
}

.dropdown-content a:active,
.dropdown-content button:active {
	background: rgba(102, 26, 255, 0.4);
}

.dropdown-content li {
	padding: 0px;
	transition: background 0.2s;
}

.dropdown-ellipsis {
	cursor: pointer;
	padding: 0 0.5rem;
	transition: opacity 0.2s;
	opacity: 0.5;
}

.dropdown {
	position: relative;
	display: inline-block;

}
.dropdown > *:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.dropdown .dropdown-content {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.dropdown:focus-within .dropdown-content,
.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-ellipsis {
	visibility: visible;
	opacity: 1;
}

&:is(details) summary::-webkit-details-marker {
	display: none;
}

