.carousel {
	display: inline-flex;
	overflow: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.carousel-item {
	box-sizing: content-box;
	flex: none;
	scroll-snap-align: start;
}

.carousel-button {
	@apply text-white no-underline size-10 rounded-full;
	@apply flex items-center justify-center;
	background: var(--background);
	border: 1px solid var(--accent3);
}
