<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/global.css">
	<link rel="stylesheet" href="/studio.css">
	<title>Mercury Studio</title>
</head>

<body>{{ template "body" . }}</body>

</html>