{{ define "body" }}
<nav>
	<a href="/">Mercury Studio</a>
	<!-- logged-in nav items -->

	<form action="/logout" method="POST">
		<button type="submit">Logout</button>
	</form>
</nav>
<main>{{ template "content" . }}</main>
{{ end }}