:root
	a.light-text:hover
		color var(--grey-text) !important

	+lightTheme()
		--background #c6c4c3
		--darker #a6a4a3
		--accent #d6d4d3
		--accent1 #b6b4b3
		--accent2 #a6a4a3
		--accent3 #969493
		--light-text #212529
		--grey-text #4c4b4a
		// --dark-text #f6f4f3

		a.light-text:hover
			color #868483 !important

	--background black
	--darker #0c0b0a
	--accent #161413
	--accent1 #262423
	--accent2 #363433
	--accent3 #364443
	--light-text #f6f4f3
	--grey-text #8c8b8a
	// --dark-text #212529
