:root
	--background #100f0e
	--navbar #201f1e
	--darker #0a0908
	--accent #1f1d1c
	--accent1 #262423
	--accent2 #363433
	--accent3 #464443
	--light-text #f2f4f7
	--grey-text #898b8d
	// --dark-text #212529

