:root {
	--background: #100f0e;
	--navbar: #201f1e;
	--darker: #0b0a09;
	--accent: #201e1d;
	--accent1: #252322;
	--accent2: #373534;
	--accent3: #464443;
	--light-text: #f2f4f7;
	--grey-text: #898b8d;
}
