:root
	--background #0d0f11
	--navbar #1d1f21
	--darker #06090b
	--accent #1b1d20
	--accent1 #222427
	--accent2 #323437
	--accent3 #424447
	--light-text #f2f4f7
	--grey-text #898b8d
	// --dark-text #212529

