// Happy April Fools Day! 🎉
// Rainbow all the things

:root
	// --background radial-gradient(circle, violet, indigo, blue, green, yellow, orange, red)
	// set 50% opacity
	--background radial-gradient(circle, rgba(238, 130, 238, 0.5), rgba(75, 0, 130, 0.5), rgba(0, 0, 255, 0.5), rgba(0, 255, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(255, 127, 0, 0.5), rgba(255, 0, 0, 0.5))
	--navbar linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red)
	--darker linear-gradient(to right, pink, purple, indigo, magenta, cyan, lime, yellow)
	--accent conic-gradient(red, orange, red, orange, red, orange, red, orange, red, orange, red, orange, red, orange, red, orange)
	--accent1 conic-gradient(green, yellow, green, yellow, green, yellow, green, yellow, green, yellow, green, yellow, green, yellow, green, yellow)
	--accent2 conic-gradient(blue, pink, blue, pink, blue, pink, blue, pink, blue, pink, blue, pink, blue, pink, blue, pink)
	--accent3 conic-gradient(purple, cyan, purple, cyan, purple, cyan, purple, cyan, purple, cyan, purple, cyan, purple, cyan, purple, cyan)
	--light-text #f6f4f3
	--grey-text #8c8b8a
	// --dark-text #212529

// :root
// 	--background #0d0f11
// 	--navbar #1d1f21
// 	--darker #06090b
// 	--accent #1b1d20
// 	--accent1 #222427
// 	--accent2 #323437
// 	--accent3 #424447
// 	--light-text #f2f4f7
// 	--grey-text #898b8d
// 	// --dark-text #212529

