// This theme remains the same between
// light and dark prefers-color-scheme.

:root
	a.light-text:hover
		color var(--grey-text) !important

	--background #5c5b5a
	--darker #3c3b3a
	--accent #4c4b4a
	--accent1 #7c7b7a
	--accent2 #8c8b8a
	--accent3 #9c9b9a
	--light-text white
	--grey-text #bcbbba
	// --dark-text black
