:root,
html,
body,
main {
  background: #100f0e;
  color: #f6f4f3;
}

a {
  color: #8b52ff;
  transition: 0.2s color;
}

a:hover:not(.btn):not(.light-text) {
  color: #73f;
}

a:hover.light-text {
  color: #8c8b8a;
}

.light-text {
  color: #f6f4f3;
}

.grey-text {
  color: #8c8b8a;
}

.bg-darker {
  background: #0a0908;
}

input {
  background: #1f1d1c;
  color: #f6f4f3;
  border: 1px solid #363433;
}

input:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

input:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 3px #5c29c2;
}

.btn-primary:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-primary:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-primary:disabled {
  opacity: 0.5;
}

.btn-secondary:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-secondary:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-secondary:disabled {
  opacity: 0.5;
}

.btn-tertiary:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-tertiary:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-tertiary:disabled {
  opacity: 0.5;
}

.btn-quatenary:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-quatenary:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-quatenary:disabled {
  opacity: 0.5;
}

.btn-red-secondary:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-red-secondary:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-red-secondary:disabled {
  opacity: 0.5;
}

.btn-red-tertiary:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-red-tertiary:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-red-tertiary:disabled {
  opacity: 0.5;
}

.btn-first:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-first:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-first:disabled {
  opacity: 0.5;
}

.btn-success:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-success:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-success:disabled {
  opacity: 0.5;
}

.btn-danger:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-danger:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-danger:disabled {
  opacity: 0.5;
}

.btn-warning:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-warning:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-warning:disabled {
  opacity: 0.5;
}

.btn-info:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-info:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-info:disabled {
  opacity: 0.5;
}

.btn-light:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-light:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-light:disabled {
  opacity: 0.5;
}

.btn-dark:active:not(:disabled) {
  box-shadow: 0 0 0 2px #5c29c2 !important;
}

.btn-dark:focus:not(:active):not(:disabled) {
  box-shadow: 0 0 0 2px #100f0e, 0 0 0 4px #5c29c2;
}

.btn-dark:disabled {
  opacity: 0.5;
}

.is-invalid {
  background-position: 99% 0.5rem;
}

.text-red-5 {
  color: #ef4444;
}


