hr
	color var(--accent)

.nav-link
	border-radius 0
	color var(--light-text)

.form-control
	color var(--light-text)

input[type="checkbox"]
	height 1.5rem
	width 1.5rem

input[type="number"]
	width 10rem
