@import "./vars.styl"

:root
html
body
main
	background background
	color light-text
	height 100%

a
	color hsl(260 100% 66%)
	transition 0.2s color
	&:hover
		&:not(.btn):not(.light-text)
			color hsl(260 100% 60%)
		&.light-text
			color var(--grey-text)

.light-text
	color light-text
.grey-text
	color grey-text

.bg-darker
	background darker

input
	background accent
	color light-text
	border 1px solid accent2
	&:focus
		box-shadow 0 0 0 3px #5c29c27f !important
	&:active
		box-shadow 0 0 0 2px #5c29c27f !important

.is-invalid
	background-position 99% 0.5rem

.text-red-5
	color rgb(239 68 68)
