// Styles that will be applied to every page.
// It's best to only put things in here that apply to many pages, to keep bundle size down.

:root
	overflow-x: hidden
	background-color: var(--background)

	--mainaccent: #7531ff

	.light-text
		color: var(--light-text) !important
	.grey-text
		color: var(--grey-text) !important
	.dark-text
		color: var(--dark-text) !important
	.accent-text
		color: var(--mainaccent) !important

input, select, textarea
	background-color: var(--accent) !important
	color: var(--light-text) !important
.valid
	border-color: var(--accent2) !important

::selection
	background: var(--mainaccent)

::-webkit-scrollbar
	width: 0.75rem
	height: 0.75rem
	&-track, &-corner
		background: none
	&-thumb
		border-radius: 0.2rem
		background: var(--accent)
		&:hover
			background: var(--accent3)
