// Styles that will be applied to every page.
// It's best to only put things in here that apply to many pages, to keep bundle size down.

@use "./bootstrap.scss"

:root
	overflow: overlay // Scrollbar is above content instead of beside
	overflow-x: hidden
	background-color: var(--background)

	--mainaccent: #7531ff

.light-text
	color: var(--light-text) !important
.grey-text
	color: var(--grey-text) !important
// .dark-text
// 	color: var(--dark-text) !important
.accent-text
	color: var(--mainaccent) !important

.bg-background
	background: var(--background) !important
.bg-darker
	background: var(--darker) !important
.bg-a
	background: var(--accent) !important
.bg-a1
	background: var(--accent1) !important
.bg-a2
	background: var(--accent2) !important
.bg-a3
	background: var(--accent3) !important

input, select, textarea
	background-color: var(--accent) !important
	color: var(--light-text) !important
.valid
	border-color: var(--accent2) !important

a.light-text
	transition: 0.2s color

::selection
	background: var(--mainaccent)

::-webkit-scrollbar
	position: fixed
	width: 0.50rem
	height: 0.50rem
	&-track, &-corner
		background: none
	&-thumb
		border-radius: 0.2rem
		background: var(--accent)
		&:hover
			background: var(--accent3)

// bootstrap variables
.card
	--bs-card-bg: var(--accent)
.accordion
	--bs-accordion-bg: var(--darker)
	--bs-accordion-active-bg: var(--darker)
.dropdown-menu
	--bs-dropdown-bg: var(--darker)
