@import "~bootstrap/scss/bootstrap"

// todo clean up
@font-face
	font-family: "Open Sans"
	font-style: normal
	font-weight: 400
	font-stretch: 100%
	font-display: swap
	src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2')
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
@font-face
	font-family: "Open Sans"
	font-style: normal
	font-weight: 700
	font-stretch: 100%
	font-display: swap
	src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2')
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
@font-face
	font-family: "Open Sans"
	font-style: italic
	font-weight: 400
	font-stretch: 100%
	font-display: swap
	src: url(https://fonts.gstatic.com/s/opensans/v34/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2) format('woff2')
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
@font-face
	font-family: "Open Sans"
	font-style: italic
	font-weight: 700
	font-stretch: 100%
	font-display: swap
	src: url(https://fonts.gstatic.com/s/opensans/v34/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2) format('woff2')
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

:root
	// light mode
	@media (prefers-color-scheme: light)
		--background: #e6e4e3
		--footer: #c6c4c3
		--accent: #fff
		--accent2: #c6c4c3
		--accent3: #a6a4a3
		--light-text: #212529
		--grey-text: #4c555d
		--dark-text: #f6f4f3

		--gradient-color-1: #5551ff
		--gradient-color-2: #5599ff
		--gradient-color-3: #55c3ff
		--gradient-color-4: #af79e6

	// dark mode
	--background: #161413
	--footer: #100f0e
	--accent: #363433
	--accent2: #262423
	--accent3: #464443
	--light-text: #f6f4f3
	--grey-text: #6c757d
	--dark-text: #212529

	--gradient-color-1: #161a92
	--gradient-color-2: #2b0574
	--gradient-color-3: #6c2fb9
	--gradient-color-4: #060e25

	.light-text
		color: var(--light-text)
	.grey-text
		color: var(--grey-text)
	.dark-text
		color: var(--dark-text)

body
	display: flex
	flex-direction: column
	background: var(--background)
	font-family: "Open Sans"
	height: 100vh
	padding: 0
	margin: 0
	
::-webkit-scrollbar
	width: 15px
	&-track
		background: none
	&-thumb
		border-radius: 9rem
		background: var(--accent2)
		&:hover
			background: var(--accent3)
