sm()
	@media (min-width 640px) {block}
md()
	@media (min-width 768px) {block}
lg()
	@media (min-width 1024px) {block}
xl()
	@media (min-width 1280px) {block}
2xl()
	@media (min-width 1536px) {block}

-sm()
	@media (max-width 639.9px) {block}
-md()
	@media (max-width 767.9px) {block}
-lg()
	@media (max-width 1023.9px) {block}
-xl()
	@media (max-width 1279.9px) {block}
-2xl()
	@media (max-width 1535.9px) {block}

hue = 260
