name: Deploy

# Github action to deploy the website to the server.

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Deploy to Server
              uses: fifsky/ssh-action@master
              with:
                  command: |
                    bash
                    cd mercuryv2 && git restore . && gh repo sync && aftman install && chmod +x ./corescripts/compile.sh && ./corescripts/compile.sh && pnpm prod && pm2 start pm2.config.cjs && cd / && caddy reload && exit
                    exit
                  host: ${{ secrets.HOST }}
                  port: ${{ secrets.PORT }}
                  user: ${{ secrets.USER }}
                  pass: ${{ secrets.PASS }}
                  args: -tt
